@charset "utf-8";

@mixin bg-img($width, $height, $url){
    display: inline-block;
    width: $width;
    height: $height;
    background-image: url($url);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
